:root {
    --primary-color: #f0f4f5;
    --accent1-color: #28630f;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto 15px;
    padding: 5px 0;
    box-sizing: content-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 3px solid var(--accent1-color);
    height: 80px;
}

.logo {
    place-self: center;
}

nav {
    grid-column: 2/4;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 5px;
    width: 100%;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 16px;
    width: 100%;
    padding: 5px 16px;
    margin: 0;
    background-color: var(--accent1-color);
    opacity: 0.8;
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 38% 26% 38%;
    place-items: center;
    margin-top: 5px;
}

.history img {
    width: 200px;
    height: auto;
}

.adventures {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.adventures img {
    width: 140px;
    height: 100%;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    border-top: 3px solid var(--accent1-color);
    height: 50px;
    padding: 0;
    align-items: start;
}

footer p {
    grid-column: 2/4;
    place-self: center;
    padding-top: 0;
}

footer nav {
    grid-column: 4/5;
    place-self: center;
    padding-top: 0;
}

footer img {
    width: 40px;
    padding: 0 5px;
}