:root {
    --primary-color: #f0f4f5;
    --accent1-color: #28630f;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto 15px;
    padding: 5px 0;
    box-sizing: content-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 3px solid var(--accent1-color);
    height: 80px;
}

.logo {
    place-self: center;
}

nav {
    grid-column: 2/4;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--accent1-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 5px;
    width: 100%;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 16px;
    width: 100%;
    padding: 5px 16px;
    margin: 0;
    background-color: var(--accent1-color);
    opacity: 0.8;
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 38% 26% 38%;
    place-items: center;
    margin-top: 5px;
}

.history img {
    width: 200px;
    height: auto;
}

.adventures {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.adventures img {
    width: 140px;
    height: 100%;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    border-top: 3px solid var(--accent1-color);
    height: 50px;
    padding: 0;
    align-items: start;
}

footer p {
    grid-column: 2/4;
    place-self: center;
    padding-top: 0;
}

footer nav {
    grid-column: 4/5;
    place-self: center;
    padding-top: 0;
}

footer img {
    width: 40px;
    padding: 0 5px;
}

/* Contact Page */
.contact_info{
    text-align: center;
    color: #000;
}
.contact_info p{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    height: 1.5em;
}
.map{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.contact_form{
    display: inline-block;
    width: 420px;
    margin: 0 0 0 15px;
    padding: 0;
}
form{
    margin-left: 50px;
}
label{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100px;
    font-weight: 400;
}
input{
    display: inline-block;
    width: 250px;
    margin: 0;
    padding: 0;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--accent1-color);
}
input[type="radio"]{
    width: 15px;
    vertical-align: middle;
}
.form_item{
    width: 100%;
    margin-bottom: 10px;
}
.form_item span{
    display: inline-block;
    width: 100px;
    height: 90px;
    vertical-align: middle;
    margin-top: -20px;
}
.radios{
    display: inline-block;
    width: 250px;
    height: 90px;
}
.radio_option{
    width: 250px;
    display: inline-block;
}
.radio_option label{
    vertical-align: middle;
    width: 230px;
}
.block-label{
    display: block;
    margin-top: -20px;
}
textarea{
    width: 100%;
    display: block;
    height: 100px;
    margin-top: 10px;
}
.checkbox{
    height: 50px;
    width: 100%;
}
input[type="checkbox"]{
    width: 20px;
    display: inline-block;
    vertical-align: middle;

}
.checkbox label{
    width: 340px;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
}
input[type="submit"]{
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 35px;
    font-size: 18px;
    color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
}
.team figure{
    display: inline-block;
    width: 30%;
    margin: 10px 1%;
}
.team figure img{
    width: 100%;
    height: 100%;
}
.team figcaption{
    font-weight: bold;
}