* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 50px auto;
    max-width: 500px;
    border: 1px solid #b1bcf5;
    padding: 10px;
    background-color: #e3eefd;
    color: #333;
    border-radius: 10px;
}

h1 {
    margin: 10px;
    text-align: center;
}

form {
    margin: 10px;
    background-color: #fdfdfd;
    padding: 10px;
    border: 1px solid #b1bcf5;
    border-radius: 10px;
}

code {
    display: block;
    background-color: black;
    color: #0eac00;
    padding: 5px 15px;
    font-weight: bold;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #333;
}

.quiz-item {
    padding: 10px;
}

label,
input,
textarea,
select,
button {
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 0;
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
}

textarea {
    height: 105px;
}

button {
    background-color: navy;
    color: white;
    border: none;
    height: 45px;
}