* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #c5d3ff;
    color: #333;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 5px;
    display: block;
    text-decoration: none;
}

.grid {
    display: grid;
    align-items: center;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

h1 {
    color: steelblue;
    border-bottom: 2px solid steelblue;
}

p {
    padding: 0;
}

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 7rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}