* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #c5d3ff;
    color: #333;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 7rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}